<div class="wrapper">
    <div class="side-section">
        <div class="side-section-header">
            <img
                src="assets/developer0.jpg"
                alt=""
            />
            <div class="title">Egor</div>
            <div class="subtitle">Pecs</div>
            <div class="location">
                <mat-icon> location_on</mat-icon>
                <span>Balamssa Doritory</span>
            </div>
        </div>
    </div>

    <div class="categories-section">
        <div class="categories-section-header">
            <span></span>
        </div>
    </div>
</div>
