.contnet {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  background-color: #3c3c3c;
  color: white;
  min-height: 100vh;
}

.posts-container {
  width: 50%;
  height: fit-content;
  padding: 0 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;

}

.post {
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: 4px 8px 8px 4px rgba(0, 0, 0, 0.2); */
  background-color: #444444;
  text-align: left;
  border-radius: 15px;
  padding: 15px;
  padding-bottom: 3rem;

}

.post-header {
  margin-bottom: 10px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.sibtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.write-post{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.write-post-btn{
  padding: 0.7rem 1.8rem;
  border-radius: 4px;
  border: none;
  background-color: #444444;
  background-color: var(--purple-primary);
  font-size: 1rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

