<app-header></app-header>
<div class="contnet">
    <div class="posts-container">
        <div class="post">
            <div class="post-header">
                <div class="title">Welcome</div>
                <div class="sibtitle">
                    <div class="post-date">POSTED AT 01.06.2024</div>
                </div>
            </div>
            <div class="post-content">
                Welcome dear user. You can add some articles by using add button below
            </div>
        </div>
        <div class="post" *ngFor="let post of articles$ | async" id={{post.id}} routerLink="{{'/posts/' + post.id}}">
            <div class="post-header">
                <div class="title">{{post.title}}</div>
                <div class="sibtitle">
                    <div class="post-date">POSTED AT {{post.posted | date: 'dd/MM/yyyy'}}</div>
                </div>
            </div>
            <div class="post-content">
                {{post.abstract}}
            </div>
        </div>
        <div class="write-post">
            <a  routerLink="/write-post" class="write-post-btn">Write Post</a>
        </div>
    </div>
    <app-side></app-side>
</div>
<app-footer></app-footer>
